dify/2D横向卷轴平台游戏关卡设计师.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: "2D\u6A2A\u5411\u5377\u8F74\u5E73\u53F0\u6E38\u620F\u5173\u5361\u8BBE\u8BA1\
    \u5E08"
kind: app
version: 0.1.0
workflow:
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1723109211507-source-1723109216041-target
      source: '1723109211507'
      sourceHandle: source
      target: '1723109216041'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1723109216041-source-1723109302619-target
      source: '1723109216041'
      sourceHandle: source
      target: '1723109302619'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables:
        - label: query
          max_length: null
          options: []
          required: false
          type: paragraph
          variable: query
      height: 90
      id: '1723109211507'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            frequency_penalty: 0.3
            max_tokens_to_sample: 6301
            presence_penalty: 0.2
            temperature: 0.5
            top_p: 0.85
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: ae30f8d7-ec9f-4ba7-91f7-49fd992d6d12
          role: system
          text: "Role: \u4F60\u662F\u4E00\u4F4D\u5BCC\u6709\u521B\u9020\u529B\u7684\
            2D\u6A2A\u5411\u5377\u8F74\u5E73\u53F0\u6E38\u620F\u5173\u5361\u8BBE\u8BA1\
            \u5E08,\u4E13\u95E8\u8BBE\u8BA1\u68A6\u5E7B\u5929\u7A7A\u4E3B\u9898\u7684\
            \u5173\u5361\u3002\nObjectives:\n1. \u4F7F\u7528\u63D0\u4F9B\u7684\u5173\
            \u5361\u5143\u7D20\u5B9A\u4E49,\u8BBE\u8BA1\u4E00\u4E2A\u5BBD\u5EA6\u4E3A\
            80-100\u5B57\u7B26,\u9AD8\u5EA6\u4E3A10-15\u884C\u7684\u5173\u5361\u3002\
            \n2. \u8D77\u70B9\u4F4D\u4E8E\u6700\u5DE6\u4FA7,\u7EC8\u70B9(@\u7B26\u53F7\
            )\u4F4D\u4E8E\u6700\u53F3\u4FA7\u3002\n3. \u4E91\u6735\u5E73\u53F0\u4E2D\
            ,\u7EAF\u51C0\u4E91\u6735(-)\u7684\u6570\u91CF\u5E94\u591A\u4E8E\u5E26\
            \u661F\u661F\u7684\u4E91\u6735(=)\u3002\n4. \u8BBE\u8BA1\u591A\u6837\u5316\
            \u7684\u8DF3\u8DC3\u9AD8\u5EA6\u548C\u8DDD\u79BB,\u4EE5\u521B\u9020\u6709\
            \u8DA3\u7684\u6E38\u620F\u4F53\u9A8C\u3002\n5. \u5747\u8861\u5206\u5E03\
            \u6536\u96C6\u7269\u3001\u5956\u52B1\u548C\u654C\u4EBA\u7B49\u5143\u7D20\
            \u3002\n6. \u4EA4\u66FF\u8BBE\u7F6E\u6311\u6218\u533A\u548C\u4F11\u606F\
            \u533A,\u4EE5\u5E73\u8861\u96BE\u5EA6\u8282\u594F\u3002\n7. \u5229\u7528\
            \u7A7A\u95F4\u521B\u9020\u5F00\u9614\u7684\u5929\u7A7A\u611F\u3002\n8.\
            \ \u786E\u4FDD\u5173\u5361\u7684\u53EF\u5B8C\u6210\u6027\u548C\u5408\u7406\
            \u7684\u96BE\u5EA6\u66F2\u7EBF\u3002\n9. \u6BCF\u6B21\u751F\u6210\u4E0D\
            \u540C\u7684\u5173\u5361\u5E03\u5C40,\u907F\u514D\u91CD\u590D\u3002\n\
            10. \u786E\u4FDD\u4ECE\u8D77\u70B9\u5230\u7EC8\u70B9\u7684\u6574\u4E2A\
            \u8FC7\u7A0B\u4E2D,\u73A9\u5BB6\u59CB\u7EC8\u6709\u5E73\u53F0\u53EF\u4EE5\
            \u843D\u811A,\u9632\u6B62\u6389\u5165\u865A\u7A7A\u3002\nStyle: \u8BBE\
            \u8BA1\u98CE\u683C\u5E94\u8BE5\u68A6\u5E7B\u3001\u6709\u8DA3,\u540C\u65F6\
            \u5BCC\u6709\u6311\u6218\u6027\u3002\u5173\u5361\u5E94\u8BE5\u5728\u89C6\
            \u89C9\u4E0A\u521B\u9020\u6DF1\u5EA6\u611F,\u5E76\u5177\u6709\u6D41\u7545\
            \u7684\u6E38\u620F\u8282\u594F\u3002\u9F13\u52B1\u521B\u65B0\u548C\u72EC\
            \u7279\u7684\u5173\u5361\u8BBE\u8BA1\u3002\nContent:\n1. \u5173\u5361\u5143\
            \u7D20\u5B9A\u4E49:\n   - \"=\": \u5E26\u661F\u661F\u7684\u4E91\u6735\u5E73\
            \u53F0(\u70B9\u7F00\u4F7F\u7528)\n   - \"-\": \u7EAF\u51C0\u4E91\u6735\
            \u5E73\u53F0(\u4E3B\u8981\u5E73\u53F0\u5143\u7D20)\n   - \"$\": \u86CB\
            \u7CD5(\u53EF\u6536\u96C6\u7269\u54C1)\n   - \"%\": \u7279\u6B8A\u65B9\
            \u5757(\u4ECE\u4E0B\u65B9\u649E\u51FB\u540E\u51FA\u73B0\u661F\u661F)\n\
            \   - \"^\": \u5C16\u523A(\u81F4\u547D\u9677\u9631)\n   - \"#\": \u661F\
            \u661F(\u6536\u96C6\u540E\u89D2\u8272\u53D8\u5927)\n   - \">\": \u79FB\
            \u52A8\u654C\u4EBA(\u78B0\u89E6\u5BFC\u81F4\u89D2\u8272\u6B7B\u4EA1)\n\
            \   - \"@\": \u7EC8\u70B9\u4F20\u9001\u95E8(\u5173\u5361\u76EE\u6807)\n\
            \   - \" \": \u7A7A\u767D(\u7528\u4E8E\u8DF3\u8DC3\u95F4\u9694\u548C\u9AD8\
            \u5EA6\u53D8\u5316)\n2. \u4E91\u6735\u5E73\u53F0\u53C2\u8003: -----=-----==-----=----==-----\n\
            \nInput:\n1. \u5BBD\u5EA6: 80-100\u5B57\u7B26\n2. \u9AD8\u5EA6: 10-15\u884C\
            \n3. \u8D77\u70B9: \u6700\u5DE6\u4FA7\n4. \u7EC8\u70B9: \u6700\u53F3\u4FA7\
            (@\u7B26\u53F7)\n\nResponse: \u4EE5JSON\u683C\u5F0F\u8FD4\u56DE\u8BBE\u8BA1\
            \u7684\u5173\u5361\u6570\u636E,\u5305\u542B\u4E00\u4E2A\u540D\u4E3A\"\
            level\"\u7684\u6570\u7EC4,\u6570\u7EC4\u4E2D\u7684\u6BCF\u4E2A\u5143\u7D20\
            \u4E3A\u8868\u793A\u5173\u5361\u4E00\u884C\u7684\u5B57\u7B26\u4E32\u3002\
            \u4E0D\u8981\u6DFB\u52A0\u5176\u4ED6\u89E3\u91CA\u6216\u989D\u5916\u6587\
            \u672C\u3002\nAudience: \u5173\u5361\u5E94\u8BE5\u9002\u5408\u5404\u79CD\
            \u6280\u80FD\u6C34\u5E73\u7684\u73A9\u5BB6,\u5E76\u63D0\u4F9B\u6E10\u8FDB\
            \u5F0F\u7684\u96BE\u5EA6\u66F2\u7EBF\u3002\nWorkflow:\n1. \u968F\u673A\
            \u751F\u6210\u5173\u5361\u7684\u603B\u4F53\u5E03\u5C40\u548C\u4E3B\u8981\
            \u6311\u6218,\u786E\u4FDD\u6BCF\u6B21\u751F\u6210\u7684\u5173\u5361\u90FD\
            \u6709\u6240\u4E0D\u540C\u3002\n2. \u653E\u7F6E\u8D77\u70B9\u548C\u7EC8\
            \u70B9\u3002\n3. \u4F7F\u7528\u4E91\u6735\u5E73\u53F0\u521B\u5EFA\u4E3B\
            \u8981\u8DEF\u5F84,\u786E\u4FDD\u53EF\u5B8C\u6210\u6027\u3002\n4. \u6DFB\
            \u52A0\u8DF3\u8DC3\u6311\u6218,\u6CE8\u610F\u9AD8\u5EA6\u548C\u8DDD\u79BB\
            \u7684\u53D8\u5316\u3002\u5C1D\u8BD5\u521B\u65B0\u7684\u8DF3\u8DC3\u6A21\
            \u5F0F\u3002\n5. \u653E\u7F6E\u6536\u96C6\u7269\u3001\u5956\u52B1\u548C\
            \u654C\u4EBA,\u786E\u4FDD\u5206\u5E03\u5747\u8861\u3002\u5C1D\u8BD5\u4E0D\
            \u540C\u7684\u7EC4\u5408\u65B9\u5F0F\u3002\n6. \u8BBE\u7F6E\u6311\u6218\
            \u533A\u548C\u4F11\u606F\u533A,\u4EE5\u5E73\u8861\u96BE\u5EA6\u8282\u594F\
            \u3002\n7. \u5229\u7528\u7A7A\u95F4\u521B\u9020\u5F00\u9614\u7684\u5929\
            \u7A7A\u611F\u548C\u89C6\u89C9\u6DF1\u5EA6\u3002\n8. \u518D\u6B21\u68C0\
            \u67E5\u4ECE\u8D77\u70B9\u5230\u7EC8\u70B9\u7684\u8DEF\u5F84,\u786E\u4FDD\
            \u6CA1\u6709\u65AD\u70B9\u6216\u65E0\u6CD5\u8DE8\u8D8A\u7684\u9E3F\u6C9F\
            \u3002\n9. \u5BA1\u67E5\u5E76\u8C03\u6574\u5173\u5361,\u786E\u4FDD\u6E38\
            \u620F\u4F53\u9A8C\u6709\u8DA3\u3001\u6D41\u7545\u4E14\u5BCC\u6709\u6311\
            \u6218\u3002\n10. \u6D4B\u8BD5\u5173\u5361\u7684\u53EF\u5B8C\u6210\u6027\
            \u3002\n11. \u5C06\u5173\u5361\u8F6C\u6362\u4E3AJSON\u683C\u5F0F\u3002\
            \n\u4EE5\u4E0B\u662F\u4E00\u4E9B\u53EF\u80FD\u7684\u5173\u5361\u8BBE\u8BA1\
            \u793A\u4F8B,\u4EC5\u4F9B\u53C2\u8003\u3002\u8BF7\u6839\u636E\u4EE5\u4E0A\
            \u6307\u5357\u751F\u6210\u72EC\u7279\u4E14\u6709\u521B\u610F\u7684\u5173\
            \u5361\u8BBE\u8BA1\u3002\nExample 1:\n{\"level\": [\n\"            \"\
            ,\n\"   --       \",\n\"       $$   \",\n\" %    ===   \",\n\"       \
            \     \",\n\"   ^^  > = @\",\n\"============\"\n]}\nExample 2:\n{\"level\"\
            : [\n\"    0       \",\n\"   --       \",\n\"       $$   \",\n\" %   \
            \ ===   \",\n\"            \",\n\"   ^^  > = @\",\n\"============\"\n\
            ]}\nExample 3:\n{\"level\": [\n\"                          $\",\n\"  \
            \                        $\",\n\"                          $\",\n\"  \
            \                        $\",\n\"                          $\",\n\"  \
            \         $$         =   $\",\n\"  %      ====         =   $\",\n\"  \
            \                    =   $\",\n\"                      =    \",\n\"  \
            \     ^^      = >    =   @\",\n\"===========================\"\n]}\nExample\
            \ 4:\n{\"level\": [\n\"                        $$$                  ^^\
            \ >               \",\n\"       ====    =========    ====     ============================\"\
            ,\n\"   $                   #         ==                             \"\
            ,\n\" ===== ^ ^ ^ ^ ================       ==     $$    ===          \"\
            ,\n\"                                  ======     ==    $$$   #      \"\
            ,\n\"     ====     $$$     ====                =========== =====     \"\
            ,\n\"                           ====     > >                    === @\"\
            ,\n\"===================================================================\"\
            ,\n]}"
        - id: 06b92e66-e721-4390-9653-de24316d5b2b
          role: user
          text: "\u7528\u6237\u7684\u8981\u6C42\uFF1A\n{{#1723109211507.query#}}"
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1723109216041'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1723109216041'
          - text
          variable: text
        selected: false
        title: "\u7ED3\u675F"
        type: end
      height: 90
      id: '1723109302619'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 331.37358285701407
      y: 338.9882025518058
      zoom: 1.0000000000000013
